<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
<h1>MinaSocket</h1>
<form method="post" action="/connect" id="formcon">
    <div style="margin-bottom:15px">
        <input type="button" id="connect" style="margin-right:50px;display:inline;" value="主機連線">
    </div>
</form>
<div style="margin-bottom:15px">
    <p>連線狀態 : <span id="status" th:text="${session.status}"></span></p>
    </td></div>
<div>
</div>
<form method="post" action="transaction">
    <div style="margin-bottom:15px">
        <p style='display: inline;'>交易代碼 :</p>
        <input type="submit" name="transaction" value="BPFN">
        <input type="submit" name="transaction" value="BPFK">
        <input type="submit" name="transaction" value="BPBK">
        <input type="submit" name="transaction" value="BPFC">
        <input type="submit" name="transaction" value="IQCG">
        <p>交易模式 : <span id="tt" th:text="${session.transaction}"></span></p>
    </div>
</form>
<form method="post" action="send" id="forms">
    <div style="margin-bottom:15px">
        <p style='display: inline;'>輸入 : </p><input id="io" name="io" type="text" disabled="true"><input
            type="button" style="margin-left:10px" id="send" value="送出">
        <p th:text="${fault}" style='display: inline;'></p><br>
        <p>顯示 : </p><textarea id="display" style="width:1000px;height:150px;" readonly th:text="${session.display}"></textarea>
    </div>
</form>
<form method="post" action="/close">
    <button name="close">關閉連線</button>
</form>
</body>
<script>
    var tt = $("#tt").text();
    var status = $("#status").text();
    $("#send").click(function () {
        if (status == "") {
            $("#forms").submit();
        } else if (tt != "") {
            $("#forms").submit();
        } else {
            alert("請先選擇交易代碼");
        }
    })
    $("#connect").click(function(){
        if(status==""){
            $("#formcon").submit();
        }else{
            alert("已連線中");
        }
    })
    window.onload = function () {
        if (tt != "") {
            console.log("abc");
            $("#io").attr("disabled", false);
        }
    }





</script>
</html>